*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
:root{
    --main_color:#0077b6;
    --p_color:#adb5bd;
    --bg_color:#1c1f26;
    --white_color:#f8f9fa;
    --black_color:#212529;
    --border_color:#00b4d8;
}
body{
    background-color: #0d1b2a;
}
.container{
    width: 80%;
    margin: auto;
    max-width: 1500px;
}
section{
    padding: 120px 0px;
}
/* //// */
.top-section{
    text-align: center;
    margin-bottom: 100px;
}

.top-section h2{
    font-size: 30px;
    color: var(--main_color);
}


/* 
//header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
    height: 100px;
    z-index: 100;
}
header.active{
    background-color: var(--black_color);
    border-bottom: 1px solid var(--border_color);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header nav .logo h2{
   display: inline-block;
   margin: 7px;
    font-size: 30px;
    color: var(--main_color);
}
header nav .links{
display: flex;
gap: 40px;
}
header nav .links a{
    color: var(--white_color);
    text-transform: capitalize;
    font-size: 20px;
    transition: 0.3s;
}
header nav .links a:hover{
    color: var(--border_color);
}
header nav .icons{
    display: flex;
    gap: 30px;
}
header nav .icons a{
    color: var(--main_color);
    font-size: 20px;
    transition: 0.3s;
}
header nav .icons a:hover{
    scale: 1.4;
}
.bg-lines span{
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100%;
    background-color:#00b4d828 ;
    width: 1px;
   -webkit-animation:left_Right 18s infinite;
   animation:left_Right 18s infinite;
}
@keyframes left_Right{
0%{
    transform:translateX(0);
}
50%{
        transform:translateX(-100px);

}
100%{
        transform:translateX(0);

}}

.bg-lines span:nth-child(1){
    left: 10%;
}
.bg-lines span:nth-child(2){
    left: 20%;
}
.bg-lines span:nth-child(3){
    left: 30%;
}
.bg-lines span:nth-child(4){
    left: 40%;
}
.bg-lines span:nth-child(5){
    left: 50%;
}
.bg-lines span:nth-child(6){
    left: 60%;
}
.bg-lines span:nth-child(7){
    left: 70%;
}
.bg-lines span:nth-child(8){
    left: 80%;
}
.bg-lines span:nth-child(9){
    left: 90%;
}
img{
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    color: var(--white_color);
}
span{
    color: var(--main_color);
    
}
p{
    color: var(--p_color);
}
/*start hero*/
.hero{
    padding-top:100px;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .div-text{
    width: 50%;

}
.div-text h4{
    color: var(--p_color);
    margin-bottom: 15px;
    font-size: 35px;
}
.div-text h1{
    font-size: 70px;
    
}
.div-text h2{
    font-size: 70px;
    font-weight: normal;
    line-height: 0.9;
}
.div-text p{
    margin: 30px 0;
    width: 80%;
    line-height: 1.7;
    font-size: 18px;
}
.hero .btn{
    font-size: 20px;
    padding: 18px 50px;
}
.hero .div-img{
    width: 40%;
    border-radius: 600px 0 600px 600px;
    overflow: hidden;

}
/*
button*/
.btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn{
    background-color: var(--main_color);
    padding: 14px 30px;
    border-radius: 10px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--white_color);
    transition: 0.3s;
}
.btn:hover{
    scale:1.1;
    background-color: var(--border_color);
}
.btn_no_bg{
    text-transform: capitalize;
    color: var(--white_color);
    text-decoration: underline;
    transition: 0.3s;
}
.btn_no_bg:hover{
    color: var(--main_color);
}
/* //Start about */

.about .container{
    background-color: var(--black_color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 50px 50px;
}.about .div-text{
    width: 50%;

}
.about .div-text h5{
    color: var(--p_color);
    font-size: 18px;
    text-transform: capitalize;
}
.about .div-text h2{
    font-size: 45px;
    margin: 25px 0 5px;

}
.about .div-text h4{
    font-size: 30px;
    margin-bottom: 20px;
}
.about .div-text p{
line-height: 1.8;
}
.about .div-text ul{
    display: flex;
    margin: 30px 0 20px;
    color: var(--white_color);
    flex-wrap: wrap;
}
.about .div-text ul li{
width: 45%;
font-weight: bold;
margin-bottom: 30px;
display: flex;
gap: 10px;
}
.about .div-text ul li i{
    color: var(--main_color);
}
.about .div-img{
    width: 35%;
}
/* ///end about section */

/* start services */
.service .boxs{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.service .boxs .box{
    width: 30%;
    text-align: center;
    padding: 50px 20px;
    border: 1px solid var(--border_color);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.service .boxs .box i{
    color: var(--main_color);
    margin-bottom: 30px;
    font-size: 70px;
        transition: 0.3s ease-in-out;

}
.service .boxs .box h3{
    font-size: 25px;
    margin-bottom: 20px;

}
.service .boxs .box p{
    line-height: 1.7;
    font-size: 14px;
    margin-bottom: 40px;
}
.service .boxs .box:hover{
    border-color: var(--main_color);

}

.service .boxs .box:hover i{
    scale: 1.3;
}

/* contactSection */
.contact .container{
    display: flex;
    justify-content: space-between;
}
.contact .top-section{
    margin-bottom: 100px;
}
.contact .social-contact{
    width: 30%;
}
.contact .social-contact h2{
    color: var(--white_color);
margin-bottom: 40px;
}
.contact .social-contact .links{
    display: flex;
    flex-direction: column;
}
.contact .social-contact .links a{
    color: var(--white_color);
    margin-bottom: 25px;
    position: relative;
    left: 0;
    transition: 0.3s;
    font-size: 20px;
}
.contact .social-contact .links a i{
    color:white;
    margin-right: 5px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    height: 45px;
    background-color: var(--main_color);
    border-radius: 5px;

}
.contact .social-contact .links a:hover{
    left: 15px;
}
.contact form{
    width: 60%;
    align-items: center;
    
}

.contact form .input-form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.contact form .input-form input,
.contact form .input-form textarea
{transition: 0.3s;
border-radius: 5px;
padding: 20px;
outline: none;
background-color: var(--bg_color);
color: var(--white_color);
margin-bottom: 30px;
border: 1px solid var(--border_color);
font-size: 25px;
}
.contact form .input-form input{
    width: 48%;
}
.contact form .input-form textarea{
    width:100%;
}
.contact form .input-form input:focus,
.contact form .input-form textarea:focus{
    border-color: var(--main_color);
}
.contact .btn{
    outline: none;
    padding: 15px 35px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}
.contact .btn:hover{
    scale: 1.1;
   
}
/* ///skills page */
.skillsContainer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.Centre{
    
    position: absolute;
    color: var(--main_color);
}
.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    position: relative;
    margin: 0 auto;
}
.carousel-container img{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    animation: rotate 20s linear infinite;
    transform-origin: center;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg) translate(120px ) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(120px ) rotate(-360deg);
    }
}
.carousel-container img:nth-child(1){animation-delay: 0s;}
.carousel-container img:nth-child(2){animation-delay: -2s;}
.carousel-container img:nth-child(3){animation-delay: -4s;}
.carousel-container img:nth-child(4){animation-delay: -6s;}
.carousel-container img:nth-child(5){animation-delay: -8s;}
.carousel-container img:nth-child(6){animation-delay: -10s;}
.carousel-container img:nth-child(7){animation-delay: -12s;}
.carousel-container img:nth-child(8){animation-delay: -14s;}
.carousel-container img:nth-child(9){animation-delay: -16s;}
.carousel-container img:nth-child(10){animation-delay: -18s;}

.close-menu{
    display: none;
}
header .links .logo{
    display: none;
}
.icon-menu{
    display: none;
}
header nav .icons{
    align-items: center;
}
@media (max-width:1250px) {
    .container{
        width: 90%;
    }
}

@media (max-width:1000px) {
header nav .links{
    position: fixed;
    top: 0;
    flex-direction: column;
    width: 400px;
    background-color: var(--black_color);
    left: -400px;
    padding: 50px 0;
    height: 100%;
    border-right: 1px solid var(--border_color);
    text-align: center;
    transition: 0.5s ease-in-out;
   
}
header nav .links.active{
        left: 0px;

}
.close-menu{
    display: block;
    color: var(--main_color) ;
    font-size: 28px;
    position: absolute;
    top: 30px;
    right: 30px;

}
header .links .logo{
    display: block;
}
.icon-menu{
    display: block;
    font-size: 28px;

}
/* //Homepage */

.hero .div-text h4{
    font-size: 25px;
}

.hero .div-text h1{
    font-size: 55px;
}

.hero .div-text h2{
    font-size: 55px;
}

.hero .div-text p{
    font-size: 16px;
        margin: 30px auto;

}
.hero .btns{
        justify-content: center;

}
.hero .btn{
    font-size: 18px;
    padding: 16px 40px;
}
.hero .container{
    flex-direction: column;
}
.hero .div-text{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.hero{
    height: auto;
}
.about .container{
    flex-direction: column;

}
.about .div-text{
    width: 100%;
    margin-bottom:50px;
}
.about .div-img{
    width: 45%;
    
}
.service .boxs .box{
width: 47%;
margin-bottom: 30px;
}

.contact .container{
    flex-direction: column;

}
.contact .social-contact{
    width: 100%;
    margin-bottom: 40px;

}
.social-contact .links{
    flex-direction: row;
    flex-wrap: wrap;
}
.social-contact .links a{
    width: 50%;
    font-size: 16px;
}
.social-contact .links a i{
    width: 35px;
    height: 35px;
    line-height: 35px;
}
.contact form{
    width: 80%;
    margin: 0 auto;
}
.contact .btn{
    font-size: 16px;
    padding: 13px 28px;
}
}
@media (max-width:500px) {
header nav .icons a{
    font-size: 20px;
}
header nav .icons{
    gap: 15px;
    align-items: center;
}
header nav .logo{
    width: 150px;
    }
header nav .logo h2,
header nav .logo h1
{
    font-size: 19px !important;
}
header nav .links{
width: 100%;
left: -100%;
}
.icon-menu{
    margin-left: 15px;
}
/* ///sections responsive */

/* //Homepage */

.hero .div-text h4{
    font-size: 22px;
}

.hero .div-text h1{
    font-size: 40px;
}

.hero .div-text h2{
    font-size: 45px;
}

.hero .div-text p{
    font-size: 14px;
        margin: 25px auto;
width: 100%;
}

.hero .btn{
    font-size: 16px;
    padding: 14px 30px;
}

.hero .div-img{
    width: 75%;
}

/* about section */

.about .div-text h2{
font-size: 30px;

}
.about .div-text h4{
font-size: 20px;

}
.about .div-text p{
font-size: 14px;

}
.about .div-text ul li{
    width: 100%;
    font-size: 14px;
}

.about .div-img{
    width: 85%;
    
}
.btn{
    padding: 12px 25px;
    font-size: 14px;
}

.top-section h2{
    font-size: 22px;

}

.service .boxs .box{
width: 100%;
margin-bottom: 30px;
}
.service .boxs .box i{
    font-size: 55px;
}



.social-contact .links{
    flex-direction: column;

}
.social-contact .links a{
    width: 100%;

}
.social-contact .links a i{
    width: 35px;
    height: 35px;
    line-height: 35px;
}
.contact{
    padding-top: 0;
}
.projects{
    padding-bottom: 40px;
}
.contact .top-section{
    margin-bottom: 60px;
}

.contact form{
    width: 100%;
}
.contact form .input-form input{
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 20px;
}
}
.card-list .card-item {
    list-style: none;

}
.card-list .card-item .card-link{

user-select: none;
display: block;
background-color: var(--bg_color);
border-radius: 12px;
text-decoration: none;
padding: 18px;
box-shadow: 0 10px 10px rgba(0, 0, 0,0.05);
border: 2px solid transparent;
transition: 0.2s ease;
}
.card-list .card-item .card-link:hover{
    border-color: var(--main_color);
}
.card-list .card-link .card-image{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
}
.card-list .card-link .badge{
    color: var(--white_color);
    background-color: var(--main_color);
    margin: 16px 0 18px;
    padding: 8px 16px;
    width: fit-content;
    border-radius: 50px;
    font-size: 0.95rem;
    font-weight: 500;
}
.card-list .card-link .card-title{
    font-size: 1.19rem;
    color: var(--white_color);
    font-weight: 600;
}
.card-list .card-link .card-button{
    height: 35px;
    width: 35px;
    border-radius: 50%;
margin: 30px 0 5px;
border: 2px solid var(--main_color);
color: var(--main_color);
background:none;
cursor: pointer;
transform: rotate(45deg);
font-size: 20px;
transition: 0.3s;
}
.card-list .card-link:hover .card-button:hover{
transform: rotate(90deg);
border: 3px solid var(--border_color);

}
.card-wrapper{
    min-width: 300px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}
.card-wrapper .swiper-pagination-bullet{
height: 13px;
width: 13px;
opacity: 0.5;
background-color: var(--border_color);
}
.card-wrapper .swiper-pagination-bullet-active{
    opacity: 1;
}
.card-wrapper .swiper-slide-buttun{
    color: var(--border_color);

}
@media screen and (max-width:768px) {
    .card-wrapper{
        margin: 0 10px 25px;
    }
.card-wrapper .swiper-slide-buttun{
    display: none;
}
}
